* {
  box-sizing: border-box;
}

body {
  background-color: #FFDEAD;
}


/* In this header I used a image rather than a solid color */
.header {
  background-image: url(http://3.bp.blogspot.com/-gaej-J0fH6Y/TppBMcwH8HI/AAAAAAAABps/Jqgbh1AX-_w/s1600/yellowtearoses1.jpg);
  padding: 20px;
  text-align: center;
  font-family: Serif;
  font-size: 60px;
  color: white;
}


/* This is the navigation bar that is right under the header */
.nav {
  overflow: hidden;
  background-color: #7C4B4B;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a: hover {
  background-color: white;
  color: black;
}

/* These are the columns that I created to help seperate the different information I put in my website */
.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

/* This is what I used to seperate the infomration in each column */
.card {
  background-color: #A03131;
  padding: 20px;
  margin: 25px 20px 20px 20px;
  border: 15 solid white;
}

h2 {
  color: white;
  text-align: center;
  font-family: Serif;
  font-size: 50px;
}


p {
  margin-left: 40px;
  color: white;
  font-family: Serif;
  font-size: 20px;
  text-align: left;
}

h3 {
  font-family: Serif;
  text-align: center;
  font-size: 30px;
  color: white;
  
}

h4 {
  font-family: Serif;
  text-align: left;
  font-size: 25px;
  color: white;
  
}

ul li {
  font-family: Serif;
  font-size: 25px;
  color: white;
  list-style-type: square;
}

