.body {
  background-color: rgb(226, 168, 204);
  margin: 5px;
  padding: 10px;
  font-family: Serif;
}

.header {
  background-color: #FFB6C1;
  padding: 20px;
  text-align: center;
  font-family: Serif;
  font-size: 75px;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #BC8F8F;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #FFF5EE;
  color: black;

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #BC8F8F;
  padding-left: 20px;
}

.card {
  background-color: rgb(255, 255, 211);
  padding: 20px;
  margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
  
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;  
  

h1 {
  color: white;
  text-align: center;
  font-family: Serif;
  font-size: 40px;
}

p {
  color: white;
  font-family: Serif;
  font-size: 15px;
}

h2 {
  font-family: Serif;
  text-align: center;
  font-size: 30px
  color: white;
  
}

h3 {
  font-family: Serif;
  text-align: right;
  font-size: 20px;
  color: white;
  
}

.list {
  font-family: Serif;
  font-size: 15px;
  color: white;
  list-style-type: square;
}

.footer {
  background-color: #FFB6C1;
  text-align: center;
  padding: 10px;
}
