* {
  box-sizing: border-box;
}

.body {
  background-color: rgb(226, 168, 204);
  margin: 5px;
}

.header {
  background-color: #FFB6C1;
  padding: 20px;
  text-align: center;
  font-family: Serif;
  font-size: 100px;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #BC8F8F;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #FFF5EE;
  color: black;

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}
  
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  

.header1 {
  color: white;
  text-align: center;
  font-family: Serif;
  font-size: 40px;
}

.paragraph {
  color: white;
  font-family: Serif;
  font-size: 15px;
}

.header2 {
  font-family: Serif;
  text-align: center;
  font-size: 30px
  color: white;
  
}

.header3 {
  font-family: Serif;
  text-align: right;
  font-size: 20px;
  color: white;
  
}

.list {
  font-family: Serif;
  font-size: 15px;
  color: white;
  list-style-type: square;
}

.footer {
  background-color: #FFB6C1;
  text-align: center;
  padding: 10px;
}
